body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;  
    background-color: #f0f0f0; /* Grey color code */
    margin: 0; /* Resetting default margin */
    padding: 0; /* Resetting default padding */    
  }

  /*hover effect  */
  p a{
    text-decoration: none;
    position: relative;
    font-size: 1.6em;
    color: rgb(30, 26, 48);
    font-weight: 600;
    
  }
  p a::after {
    content: '';
    height: 3px;
    width: 0;
    background:rgb(30, 21, 34);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
   p a:hover::after {
    width: 100%;
    
  }
  /* hover end */

  hr{
    margin-top: 20px;
  }
  
  li{
    list-style-type: none;
  }

  .form{
    margin-bottom: 20px;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .form-group {
    margin-bottom: 20px;
  } 

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
  }

  input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    background-color: #333;
  }

  /* Images styling */
  .social-media{
    margin-top: 30px;
  }

  li a{
    transition: transform 0.2s ease-in-out;
    display: inline-block; /* Ensures the link behaves as a block element */
  }

  li a:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
  }

img {
    width: 30px; /* Set the desired width */
    height: auto;
}

ul{
    text-align: center;
}

li{
    display: inline;
    padding: 20px;
}