*{
  box-sizing: border-box;
  margin: 0; /* Resetting default margin */
  padding: 0; /* Resetting default padding */    
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;   
    background-color: rgb(0, 0, 0); 
  }

   .header-links ul li img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 0px;
  }

  /*hover effect */
  p a{
    text-decoration: none;
    position: relative;
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    
  }
  p a::after {
    content: '';
    height: 3px;
    width: 0;
    background:rgb(245, 241, 247);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
   p a:hover::after {
    width: 100%;
  }

  p:hover {
    transform: scale(1.2);
    transition: ease-in-out .3s;
  }
  /* hover end */


  hr{
    margin-top: 20px;
  }
  
  li{
    list-style-type: none;
  }

  body .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }

  /* form styling */

  .form-container{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-container h2 {
    padding-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  } 

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
  }

  input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    background-color: #e7e5e5;
    color: black;
    font-weight: 600;
    transition: ease-in .2s;
  }

  .back-home {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 1em;
    padding: 10px;
  }

  .back-home:hover {
    padding-right: 20px;
    transition: ease-in-out .4s;
  }

  /* Images styling */
  .social-media{
    margin-top: 30px;
  }

  .social-media li a{
    transition: transform 0.2s ease-in-out;
    display: inline-block; /* Ensures the link behaves as a block element */
  }

  .social-media li a:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
  }

.social-media img {
    width: 30px; /* Set the desired width */
    height: auto;
}

ul{
    text-align: center;
}

.social-media li{
    display: inline;
    padding: 20px;
}